<hr>

<footer>
<center>
<nav class="nav justify-content-center">
  <a class="nav-link" href="/">Quote</a>
  <a class="nav-link" href="/home">Home</a>
  <a class="nav-link" href="/inbox">Inbox</a>
  <a class="nav-link" href="/sign-out">Sign Out</a>
</nav>

  <% if(typeof html != 'undefined'){%><%- html %><%}%>
  <br>

  <p>&copy; Aarya Bhatia <%= new Date().getFullYear() %></p>
</center>
</footer>
</body>
</html>
