<hr>
<footer>
  <div class="text-center">
    <nav class="nav justify-content-center">
      <!-- <a class="nav-link" href="/">Home</a> -->
      <!-- <a class="nav-link" href="/dashboard">Dashboard</a> -->
      <a class="nav-link" href="/inbox">Inbox</a>
      <% if(user){ %> 
        <a class="nav-link" href="/settings">Settings</a>
        <a class="nav-link" href="/sign-out">Sign Out</a>
      <% } else { %> 
        <a class="nav-link" href="/sign-up">Sign up</a>
        <a class="nav-link" href="/sign-in">Sign in</a>
      <% } %>
    </nav>

    <% if(typeof html != 'undefined'){%><%- html %><%}%>
    <br>

    <p>&copy; Aarya Bhatia <%= new Date().getFullYear() %></p>
  </div>
</footer>

<!-- Bootstrap JavaScript -->
<script
  src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
  crossorigin="anonymous"
></script>

</div>
</body>
</html>
