<%- include('partials/header') %>

<div class="d-flex p-3 flex-column container-fluid text-center">
  <div class="mt-4">
    <h2>Error</h2>
    <p class="lead"><%= message %></p>
  </div>
</div>

<%- include('partials/footer', { user }) %>
