<%- include('partials/header') %>
<div class="d-flex p-3 flex-column container-fluid text-center">
  <div class="mt-4">
    <h1><% if(author) { %> <%= author %> <% } %></h1>
    <p class="lead"><% if(quote){ %><%= quote %><% } %></p>
    <p class="lead">
      <% if(user) { %>
      <a href="/dashboard" class="btn btn-lg custom-btn">Dashboard</a>
      <% } else { %>
      <a href="/sign-up" class="btn btn-lg custom-btn">Sign Up</a>
      <a href="/sign-in" class="btn btn-lg custom-btn">Sign In</a>
      <% } %>
    </p>
  </div>
</div>

<%- include('partials/footer', { html: `<span class="text-muted small"
  >Inspirational quotes provided by
  <a href="https://zenquotes.io/" target="_blank">ZenQuotes API</a></span
>` }) -%>
