<%- include('partials/header') -%>

<div class="container my-4">
  <h2 class="text-center">Sign In</h2>
  <p class="lead mb-4">Please fill in all fields.</p>
  <form action="/sign-in" method="POST" class="">
    <div class="row form-group">
      <div class="col-2">
        <label for="username">Username</label>
      </div>
      <div class="col-10">
        <input
          name="username"
          id="username"
          type="text"
          class="form-control"
          placeholder="Username or Email"
          required
        />
      </div>
    </div>
    <div class="row form-group">
      <div class="col-2">
        <label for="password">Password</label>
      </div>
      <div class="col-10">
        <input
          name="password"
          id="password"
          type="password"
          class="form-control"
          placeholder="Password"
          required
        />
      </div>
    </div>

    <center>
      <input type="submit" class="btn btn-large btn-light custom-btn" />
    </center>
  </form>

  <!-- Errors -->
  <div class="mt-2">
    <% if(message) { %>
    <div class="alert alert-danger"><%= message %></div>
    <% } if(errors) { for(const error of errors){ %>
    <div class="alert alert-danger"><%= error.msg %></div>
    <% } } %>
  </div>
</div>

<%- include('partials/footer') -%>
