<%- include('partials/header') %>
<link rel="stylesheet" href="css/welcome.css">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
        <img class="masthead-brand" src="images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    </div>
  </header>
  <main role="main" class="inner cover">
    <h1 class="cover-heading">
      HAPPINESS IS
    </h1>
    <p class="lead">
      ...a good coffee and a good chat.
    </p>
    <hr>
    <p class="lead">
      <a href="/sign-up" class="btn btn-lg btn-secondary">Sign Up</a>
      <a href="/sign-in" class="btn btn-lg btn-secondary">Sign In</a>
    </p>
  </main>

<%- include('partials/footer') %>
