:root {
  --bg-color: #B3E8E5;
  --card-bg-color: #82DBD8;
  --font-color: #2a818e;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #222831;
  color: rgba(255, 255, 255, 0.9);
}

.root {
  width: 80%;
  margin: 0 auto;
}

.navbar-brand {
  font-family: "Piedra", cursive;
}

.message-container {
  height: 70vh;
  overflow: scroll;
}

.input-field {
  height: 10vh;
  margin: 5% 0 0;
}

footer {
  font-size: 14px;
}

#canvas {
  height: 200px;
}

.action-button {
  border: 0.5px solid rgba(255, 255, 255, 0.7);
}