@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap");

:root {
  --card-bg-color: #b3e8e5;
  --bg-color: #82dbd8;
  --font-color: #26727e;
}

body {
  font-family: "Mukta", sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: 105%;
}

a {
  color: var(--font-color);
}

.nav-link:hover {
  text-decoration: underline;
}

[data-message-list] {
  height: 70vh;
  overflow-y: scroll;
}

[data-message-container] {
  background-color: var(--card-bg-color);
}

[data-message-time] {
}

[data-message-sender] {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

[data-message-content] {
}

[data-message-actions] {
}

div[data-message-actions] a {
  color: var(--font-color);
}

div[data-message-actions] a:hover {
  color: var(--bg-color);
}

#canvas {
  height: 100px;
}

#online-users {
  background-color: var(--card-bg-color);
}

input#content {
  border: none;
  background-color: var(--card-bg-color);
}

input#content:focus {
  background-color: var(--card-bg-color);
}

#content {
  height: 50px;
}

button[type="submit"] {
  background-color: var(--bg-color);
  color: var(--font-color);
  border-color: var(--font-color);
  border-width: 1.5px;
  border-radius: 5%;
}

button[type="submit"]:hover {
  background-color: var(--card-bg-color);
  color: rgb(68, 68, 68);
}

.custom-btn {
  background-color: white;
  color: var(--font-color);
  border-color: white;
}

.custom-btn:hover {
  background-color: var(--font-color);
  color: white;
  border-color: var(--font-color);
}

.form-btn {
  background-color: var(--font-color);
  color: white;
  border-color: var(--font-color);
}

.form-btn:hover {
  background-color: white;
  color: var(--font-color);
  border-color: rgba(255, 255, 255, 0.815);
}
