/* Source Code Pro font */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
  --card-bg-color: #b3e8e5;
  --bg-color: #82dbd8;
  --font-color: #26727e;
}

body {
  font-family: "Source Code Pro", sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: 105%;
}

a {
  color: var(--font-color);
}

.nav-link:hover {
  text-decoration: underline;
}

[data-message-list] {
  height: 65vh;
  overflow-y: scroll;
}

[data-message-container] {
  background-color: var(--card-bg-color);
}

#canvas {
  height: 100px;
}

input#content {
  border: none;
  background-color: var(--card-bg-color);
}

input#content:focus {
  background-color: var(--card-bg-color);
}

#content {
  height: 50px;
}

button[type="submit"] {
  background-color: var(--bg-color);
  color: var(--font-color);
  border-color: var(--font-color);
  border-width: 1.5px;
  border-radius: 5%;
}

button[type="submit"]:hover {
  background-color: var(--card-bg-color);
  color: rgb(68, 68, 68);
}

.custom-btn {
  background-color: white;
  border-color: white;
  color: var(--font-color);
}

.custom-btn:hover {
  background-color: var(--font-color);
  border-color: var(--font-color);
  color: white;
}

.form-btn {
  background-color: var(--font-color);
  border-color: var(--font-color);
  color: white;
}

.form-btn:hover {
  background-color: white;
  border-color: white;
  color: var(--font-color);
}
